#nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 95vw;
  border: 2px solid rgb(237, 229, 229);
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  background-color: rgb(232, 226, 220);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  text-align: center;
}
