<div class="wrapper">
   <div class="card-switch">
       <label class="switch">
           <input class="toggle" type="checkbox">
           <span class="slider"></span>
           <span class="card-side"></span>
           <div class="flip-card__inner">
               <div class="flip-card__front">
                   <div class="title">Log in</div>
                   <form (ngSubmit)="onLogin(email.value, password.value)" class="flip-card__form">
                       <input type="email" placeholder="Email" #email class="flip-card__input">
                       <input type="password" placeholder="Password" #password class="flip-card__input">
                       <button type="submit" class="flip-card__btn">Let's go!</button>
                   </form>
               </div>
               <div class="flip-card__back">
                   <div class="title">Sign up</div>
                   <form (ngSubmit)="onSignup(name.value, emailSignUp.value, passwordSignUp.value)" class="flip-card__form">
                       <input type="text" placeholder="Name" #name class="flip-card__input">
                       <input type="email" placeholder="Email" #emailSignUp class="flip-card__input">
                       <input type="password" placeholder="Password" #passwordSignUp class="flip-card__input">
                       <button type="submit" class="flip-card__btn">Confirm!</button>
                   </form>
               </div>
           </div>
       </label>
   </div>   
</div>
